
body {
  background-image: url("/static/background.png");
  background-repeat: no-repeat;

  background-size: cover;
  margin:0px;
}
h1 {
    font-size:60px;
    text-align:center;
    border:white double 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    background:rgba(0,0,0,0.5);
    color:white;
    margin:0px;
    padding:5px;
}
#heading_trending {
  text-align: center;
 
  font-size: 35px;
  margin:0; 
  color:rgb(255, 60, 0);
  

}
#heading_discover{
  text-align: center;
 
  font-size: 35px;
  margin:0; 
  color:rgb(0, 140, 255);
  
}

.container {
  display:grid;
  grid-template-columns:15% 60% 25%;
  grid-template-rows: 100px 500px;

}

#trending {
  border: double 4px white;
  grid-row-start: 2;
  grid-row-end: 5;
  background: rgba(0,0,0,0.7);
  margin:5px;
  
}
#search {
  border:solid 4px tomato;
  grid-row-start: 2;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:5px;
}
#discover {
  border:double 4px white;
  grid-row-start: 2;
  grid-row-end: 5;
  background: rgba(0,0,0,0.5);
  margin:5px;
  
  align-items: center;
  padding:0px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 2;
  opacity:0.7;
  height: 200px;
  width:300px;
  margin:10px;
}

#search_button {
  width:150px;
  height:30px;
  margin:20px;
  font-size:large;
  background:rgba(255, 187, 0, 0.8);
}

#search_field {
  width:80%;
  height:30px;
  background:rgba(0,0,0,0.7);
  font-size:large;
  color:white;
}

.sort {
  background-color: rgba(0,0,0,0.5);
  color:white;
  font-size: large;
  width:95%;
  margin:2px;
  height:30px;
}

