<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
  <div class="container">
    <h1>BINGEWATCH</h1>
    <div id="trending">
      <h2>Trending</h2>
      
    </div>
        
    <form action="#" method="post" id="search">
        <img src="/static/photo2.jpg" id="logo">
        <input type="text" placeholder="Search your movie here" id="search_field" name="movie_field">
        <p><input type="submit" value="Get Set Go" id="search_button"/></p>
    </form>

    <div id="discover">
      <h2>Discover</h2>
    </div>
  </div>
</body>
</html>


