<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
  <div class="container">
    <h1>BINGEWATCH</h1>
    <div id="trending">
      <h2 id="heading_trending">Trending</h2>
      <p style="color:white">{% autoescape false %}
        {{mov}}
    {% endautoescape %}</p> 
      <hr>
    </div>
        
    <form action="#" method="post" id="search">
        <img src="/static/photo2.jpg" id="logo">
        <input type="text" placeholder="What do you want to watch today?" id="search_field" name="movie_field">
        <p><input type="submit" value="Get Set Go" id="search_button"/></p>
    </form>

     
      <form id="discover">
        <h2 id="heading_discover">Discover</h2>  
        <hr>      
        <select id="sort" name="sort" class="sort">
          <option>Sort Movies By:</option>
          <option value="popularity">Popularity</option>
          <option value="release_date">Release Date</option>
          <option value="revenue">Revenue</option>
          <option value="vote_count">Vote Count</option>
        </select>
        <select id="order" name="order" class="sort">
          <option>Order</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
          </select>
      </form>

 
  
</body>
</html>


